.department{
    width : 487px;
    height : 285px;
}

.excelForm{
    width : 950ox;
    height : 211px;
}

.largeLogo{
    width : 785px;
    height : 336px;
}

.score_button{
    position: relative;
    left: 200px;
}

.dec{
    /* display: flex; */
    /* justify-content: space-between; */
    /* position: relative;
    left: 100px; */
    align-items: center;
    border: 3px solid #333;
    margin: 0 auto;
    padding: 1em 2em;
    width: 100px;
    color: rgb(38, 38, 38);
    font-size: 20px; 
    font-weight: 400;
    background-color: #ffffff;
    transition: 0.1s;
}

.add{
    /* display: flex; */
    /* justify-content: space-between; */
    /* position: relative;
    left: 100px; */
    background-color: pink;
    align-items: center;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 1em 2em;
    width: 100px;
    color: rgb(38, 38, 38);
    font-size: 20px; 
    /* font-weight: 500; */
    /* background-color: #ffffff; */
    transition: 0.1s;
}


.score-name{
    color: blue;
}
