.department{
    width : 487px;
    height : 285px;
}

.excelForm{
    width : 950ox;
    height : 211px;
}

.largeLogo{
    width : 785px;
    height : 336px;
}

.score_button{
    position: relative;
}

.add{
    /* display: flex; */
    /* justify-content: space-between;*/
    align-items: center;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 1em 2em;
    width: 100px;
    color: rgb(38, 38, 38);
    font-size: 18px; 
    font-weight: 100;
    background-color: #ffffff;
    transition: 0.1s;
}
