td{
    border: solid 1px; 
}

.skill_table{
   table-layout: fixed;
   border: 1px solid;
   height: 80px;
   width: 900px;
}

.skill_name{
    color: black;
    background-color: rgb(255, 255, 255);
}

.skill_score{
    background-color: rgb(222, 222, 222);
}

.add_button{
    background-color: white;
    color: black;
    font-size: xx-large;
    height: 80px;
    width: 219px;
}

.dec_button{
    background-color: rgb(183, 110, 110);
    font-size: xx-large;
    height: 80px;
    width: 219px;
}

