.acd-check{
    display: none;
    position: absolute;
    left: 0px;
    z-index: 1;
}

.editer{
    border-right: 1px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #e5e5e5;
    height: 1000px;
    width: 380px;
}

.emp_id{
    font-size: small;
}

.acd-default{
    border: 1px solid black;
    position: absolute;
    top: 300px;
    left: 500px;
    width: 800px;
    visibility: visible;
}


.acd-label{
    border-bottom: 6px solid rgb(81, 81, 81);
    border-right: 1px solid rgb(231, 212, 212);
    background: rgb(255, 255, 255);
    color: rgba(47, 51, 67, 0.877);
    font-weight:bolder;
    font-size: x-large;
    font-family: sans-serif;
    display: block;
    margin-bottom: 1px;
    padding: 15px;
    width: 280px;
    position: relative;
    z-index: 2;
    /* transform: skew(-20deg);  */
}

.acd-content{
    /* border: 1px solid rgb(144, 132, 190); */
    height: 200;
    width: 800px;
    position: absolute;
    top:150px;
    left: 0px;
    opacity: 0;
    padding: 0 20px;
    transition: .0s;
    visibility: hidden;
    z-index: 3;
}

.acd-check:checked + .acd-label{
    /* background-color: rgba(153, 202, 255, 0.905); */
    background:linear-gradient(290deg,#fff1f7 0%,#f2d8ff 0%,#5c64ff 10%,#ffffff 10%);
    color: rgb(215, 82, 97);
    width: 350px;
}

.acd-check:checked + .acd-default{
    visibility: hidden;
}

.acd-check:checked + .acd-label + .acd-content{
    height: 0px;
    width: 1100;
    position: absolute;
    left: 450px;
    opacity: 1;
    color: rgb(0, 0, 0);
    padding: 30px;
    visibility: visible;
}

.button-label{
    border: 2px solid rgba(40, 40, 40, 0.877);
    background-color: rgb(52, 52, 52);
    width: 50px
}

.tag{
    position: absolute;
    top: 0;
    left: 0;
}

.topc{
    border: 2px solid rgba(100, 229, 120, 0.404);
    background: rgb(255, 255, 255);
    color: rgba(61, 84, 199, 0.877);
    display: block;
    margin-bottom: 1px;
    padding: 5px;
    width: 200px;
}

.emplist{
    position: absolute;
    left:0px;
}
