*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #cecece;

  height: 100vh;
}

body,
header,
ul,
li,
div {
  display: block;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ul,
li {
  list-style: none;
}

button {
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
  border-radius: 0;
  letter-spacing: inherit;
  -webkit-tap-highlight-color: #003366;

  cursor: pointer;
}

.header {
  position: fixed;
  width: 100%;
  height: 1px;
  justify-content: flex-end;
  padding: 2rem;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
}

.toggleButon {
  position: relative;
  width: 56px;
  height: 56px;
  overflow: hidden;
  z-index: 1001;
}

.toggleButon > span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: black;
  z-index : 1002;
}

.line-1 {
  transform: translate(0, -10px);
}

.line-2 {
  transform: translate(0, 10px);
}

.toggleButon[aria-expanded="true"] > .line-1 {
  transform: translate(0, 0) rotate(-45deg);
}

.toggleButon[aria-expanded="true"] > .line-2 {
  transform: translate(0, 0) rotate(45deg);
}

.navigation {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 2rem;
  position: fixed;
  top: 245;
  right: 20;
  left: 70;
  height: 100vh;
  background-color: #003366;
}

.navigation[aria-hidden="false"] {
  display: flex;
  width: 200px;
  height: 300px;
  background-color: #7590ab;
}

.navigation > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem 0;
}

.navigation > ul > li {
  text-align: center;
}

.search_box {
  position : fixed;
  top : 15%;
}

.search_box::before {
  content: "";           /* 疑似要素に必須 */
  width: 16px;           /* アイコンの横幅 */
  height: 16px;          /* アイコンの高さ */
  background: url(./assets/search.png) no-repeat center center / auto 100%; /* 背景にアイコン画像を配置 */
  display: inline-block; /* 高さを持たせるためにインラインブロック要素にする */
  position: absolute;    /* 相対位置に指定 */
}

.search_box input {
  padding: 3px 0 3px 2em; /* アイコンを設置するため左の余白を多めに指定*/
}